/*base*/
*, ::after, ::before{
  box-sizing: border-box;
}
:root{
  font-size: 10px;
}
h1,h2,h3,h4,h5,h6,body,p{
  margin: 0;
  padding: 0;
}
img{
  display: block;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
body{
  background-color: #000;
  font-family: 'Arial', sans-serif;
}
h1{
  font-size: 2.8rem;
  color: #fff;
  
}
.wrapper{
  margin: 0 auto;
  max-width: 150rem;
}
.section-title{
  font-size: 2.4rem;
  color:#a60fa1;
  text-align: center;
}
.section-subtitle{
  font-size: 2.1rem;
  color:#750830;
  text-align: center;
}
.header, .section{
  padding:1rem;
}
/*Personal data section*/
.personal-data{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.personal-image{
  margin-right: 1rem;
}
.personal__image{
  max-height: 350px;
  
}
.personal-information{
  font-size: 1.8rem;
  color:#cf4aca;
  font-style: italic;
}

/*About me section*/
.about-me__text{
  padding: 1rem, 4rem;
  font-size: 2rem;
  line-height: 2.4rem;
  color:#fff;
}
.projects__link{
  font-style: italic;
  color:#cf4aca;
}
.projects__link:hover{
  color:#ede177;
}

/*My skills section*/
.my-skills{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.skills__list{
  font-size: 2.4rem;
  color: #c72c65;
  padding: 0.5rem;
  border: 2px dashed #cf4aca;
}
/*My code example section*/
.code-example{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3rem 1rem;
}
.code{
  padding: 1rem;
}
.code__example-title{
  font-size: 1.8rem;
  color:#381ee3;
}
.code__example{
  font-size: 1.8rem;
  color:#fff;
}